<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Google OAuth2 Tutorial by Aidan Lovelace</title>
</head>
<body>
  <ul>
    <% subscriptions.forEach(function (invoice) { %>
       
      <h2><%= invoice.clientName %></h2>
      <h4>Service Days	Service Time	Total Hours	Caregiver	Service Cost</h1>
        <ul>
      <% invoice.services.forEach(function (serv) { %>
        <li><%= serv['Service Days'] +", "+serv['Service Time'] +", "+serv['Total Hours']+", "+ serv['Caregiver'] +", "+serv['Service Cost'] %></li>
        <% }) %>
    </ul>
    <% }) %>
  

  invoiceList.forEach((invoice) => {
    invoice.services.sort(function(a, b){return b['Service Days']-a['Service Days']});
    console.log(invoice.clientName);
    invoice.services.forEach((serv)=>{
      console.log(serv['Service Days'])

    });
  });
</body>
</html>